VITE_SERVER_URL=http://localhost:3000   # backend url
VITE_CONTRACT_ADDRESS=                  # depoyed contract address
VITE_CHAIN_ID=                          # deployed chainId => base mainnet: 8453, base-sepolia: 4532
